
 body{
    animation: fadein 3s;
}


@keyframes fadein{
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

.icc{
    font-size: 2rem;
    color:  white;
  }

.sticky-top{
    font-size: 1.2rem;
   font-family: sans-serif;
} 
.nav-link{
    color: white;
}


.nav-link:hover{
    color:white;
    border-bottom: 1px solid white;
   
} 

.nav-link,
.navylnk {
    border-bottom: 1px solid transparent; 
    text-decoration: none!important;
    color: white!important;
}

.navylnkdrop {
     text-decoration: none!important;
     border-bottom: 1px solid transparent; 
     color: rgb(25, 135, 84);
     font-size: 1.3rem;
    
}

.navylnkdrop:hover,
.drop:hover{
    color:white!important;
    background: rgb(25, 135, 84)!important;   
}


.offcavmenu{
    font-size: 1.3rem;
}